.logo-brand {
  height:148px;
  width:45px;
}

/* Navbar */
.navbar{
	padding:15px;
	background-color:hsla(0, 100%, 90%, 0);
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
.navbar.is-fixed-top {
  top: 0;
}

@media screen and (min-width: 1024px) {
  .navbar.is-fixed-top-desktop {
    top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .navbar.is-fixed-bottom-desktop, .navbar.is-fixed-top-desktop {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }
}

@media screen and (max-width: 1023px) {
  .navbar.is-fixed-bottom-touch, .navbar.is-fixed-top-touch {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }
    .navbar.is-fixed-top-touch {
    top: 0;
  }
    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }
  
}