
.logo-brand {
	height: 148px;
	width: 45px;
}
/* Section */

.section {
	padding: 3rem 1.5rem;
}

@media screen and (min-width: 1024px) {
	.section.is-medium {
		padding: 9rem 1.5rem;
	}
	.section.is-large {
		padding: 18rem 1.5rem;
	}
}

.section {
	padding: 5rem 1.5rem;
}

.section.is-long {
	padding-bottom: 14rem;
}

@media screen and (min-width: 769px) {
	.section.is-long {
		padding-bottom: 16rem;
	}
}

@media screen and (min-width: 1216px) {
	.section.is-long {
		padding-bottom: 18rem;
	}
}

.section.is-long-ish {
	padding-bottom: 12rem;
}

@media screen and (min-width: 769px) {
	.section.is-long-ish {
		padding-bottom: 13rem;
	}
}

@media screen and (min-width: 1216px) {
	.section.is-long-ish {
		padding-bottom: 14rem;
	}
}

.section p {
	margin-bottom: 2rem;
}

footer.is-dark{
	background-color: #363636;
	border-radius: 140px 140px 0px 0px ;
	color:white;
}
/* footer*/
footer.section.is-small {
	padding: 0rem 1.5rem 4rem;
}

@media screen and (min-width: 769px) {
	footer.section.is-small {
		padding: 1rem 1.5rem 4rem;
	}
}

footer .title {
	font-weight: 300;
	font-size: 1.6rem;
	margin: 2rem auto;
	max-width: 300px;
	opacity: 0.7;
}

@media screen and (min-width: 769px) {
	footer .title {
		max-width: 320px;
	}
}

footer .social-icons {
	margin: 0 auto 3rem;
}

@media screen and (min-width: 769px) {
	footer .social-icons {
		margin: 0 auto 3.5rem;
	}
}

footer .social-icons a.button {
	background-color: transparent;
	color: white;
	border-radius: 100%;
	margin: 0 .2rem;
	height: 47px;
	width: 47px;
	border: 2px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 769px) {
	footer .social-icons a.button {
		margin: 0 0.8rem;
	}
}

footer .social-icons a.button.is-medium {
	font-size: 1.05rem;
}

@media screen and (min-width: 769px) {
	footer .social-icons a.button.is-medium {
		font-size: 1.18rem;
	}
}

footer .social-icons a.button .icon.is-small {
	height: 1.4em;
	width: 1.4em;
}

footer .social-icons a.button:hover {
	background: white;
	color: #7510F7;
	border: 2px solid white;
}

footer .copyright {
	opacity: 0.7;
}

footer .copyright .icon {
	margin-top: -1px;
	margin-left: 1px;
}

footer .made-by-bulma {
	opacity: 0.6;
	margin-top: 0.7rem;
}

.section.intro .title {
	padding: 0 30px;
}

@media screen and (min-width: 769px) {
	.section.intro .title {
		padding: 0 0;
	}
}


/* Navbar */

.navbar {
	padding: 50px 50px 0px 50px;
}
.navbar-item{
	padding:15px;
}
.navbar-start{

}

@media screen and (max-width:1023px) {
	.hero.is-dark .navbar-menu {
		background-color: #363636
	}
}

.hero.is-dark .navbar-item,
.hero.is-dark .navbar-link {
	color: rgba(255, 255, 255, .7)
}

.hero.is-dark .navbar-link.is-active,
.hero.is-dark .navbar-link:hover,
.hero.is-dark a.navbar-item.is-active,
.hero.is-dark a.navbar-item:hover {
	background-color: #292929;
}



@media screen and (min-width: 769px), print {
  .hero.is-medium .hero-body {
    padding: 12rem 1.5rem;
  }
}



/* hero is dark */

.hero.is-dark {
	background-color: #363636;
	color: #fff;
  border-radius: 0px 0px 140px 140px;
}

.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-dark strong {
	color: inherit
}

.hero.is-dark .title {
	color: #fff
}

.hero.is-dark .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-dark .subtitle a:not(.button),
.hero.is-dark .subtitle strong {
	color: #fff
}


.hero.is-dark .tabs a {
	color: #fff;
	opacity: .9
}

.hero.is-dark .tabs a:hover {
	opacity: 1
}

.hero.is-dark .tabs li.is-active a {
	opacity: 1
}

.hero.is-dark .tabs.is-boxed a,
.hero.is-dark .tabs.is-toggle a {
	color: #fff
}

.hero.is-dark .tabs.is-boxed a:hover,
.hero.is-dark .tabs.is-toggle a:hover {
	background-color: rgba(10, 10, 10, .1)
}

.hero.is-dark .tabs.is-boxed li.is-active a,
.hero.is-dark .tabs.is-boxed li.is-active a:hover,
.hero.is-dark .tabs.is-toggle li.is-active a,
.hero.is-dark .tabs.is-toggle li.is-active a:hover {
	background-color: #fff;
	border-color: #fff;
	color: #363636
}

/* Widget */
.widgetnumber {
	background-color:white;
	border-radius: 25px;
	 padding: 20px;
	 margin: 0px 15px;
	 justify-content: center;
}
.section.widget{
	margin-top: -12rem;
	padding-bottom: 1rem;
}
@media screen and (max-width: 769px) {
	.section.widget {
		margin-top: -6rem;
		padding-bottom: 1rem;
	}
}

/* viewagents */
.agents {
	background-color:white;
	border-radius: 25px;
	 padding: 45px;
	 justify-content: center;
}
.agentimg{

}
.section.viewagents{
	padding-bottom: 18rem;
}
@media screen and (max-width: 769px) {
	.section.viewagents {
		padding-bottom: 18rem;
	}
}
/* stay in touch */
.stayintouch{
	background-color:white;
	border-radius: 25px;
	 padding: 20px;
	 margin: 0px 15px;
	 justify-content: center;
}

.arrowup{
	margin-top: -5rem;
	padding-bottom: 1rem;
}

html,body{
	background-color:#E4E4E4;
}
