@import url(https://use.typekit.net/ojv4ekx.css);
.navbar {
	background-color: #fff;
	min-height: 3.25rem;
	position: relative
}

.navbar-brand {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	height: 3.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.navbar-burger {
	cursor: pointer;
	display: block;
	height: 3.25rem;
	position: relative;
	width: 3.25rem;
	margin-left: auto
}

.navbar-burger span {
	background-color: #4a4a4a;
	display: block;
	height: 1px;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	top: 50%;
	-webkit-transition: none 86ms ease-out;
	transition: none 86ms ease-out;
	-webkit-transition-property: background, left, opacity, -webkit-transform;
	transition-property: background, left, opacity, -webkit-transform;
	transition-property: background, left, opacity, transform;
	transition-property: background, left, opacity, transform, -webkit-transform;
	width: 15px
}

.navbar-burger span:nth-child(1) {
	margin-top: -6px
}

.navbar-burger span:nth-child(2) {
	margin-top: -1px
}

.navbar-burger span:nth-child(3) {
	margin-top: 4px
}

.navbar-burger:hover {
	background-color: #f5f5f5
}

.navbar-burger.is-active span {
	background-color: #00a8d6
}

.navbar-burger.is-active span:nth-child(1) {
	margin-left: -5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: left top;
	transform-origin: left top
}

.navbar-burger.is-active span:nth-child(2) {
	opacity: 0
}

.navbar-burger.is-active span:nth-child(3) {
	margin-left: -5px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom
}

.navbar-menu {
	display: none
}

.navbar-item,
.navbar-link {
	color: #4a4a4a;
	display: block;
	line-height: 1.5;
	padding: .5rem 1rem;
	position: relative
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
	background-color: #f5f5f5;
	color: #333
}

.navbar-item {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

.navbar-item img {
	max-height: 1.75rem
}

.navbar-content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1
}

.navbar-link {
	padding-right: 2.5em
}

@media screen and (max-width:999px) {
	.navbar-brand .navbar-item {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	.navbar-menu {
		-webkit-box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
		box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
		padding: .5rem 0
	}
	.navbar-menu.is-active {
		display: block
	}
}

@media screen and (min-width:1000px) {
	.navbar,
	.navbar-end,
	.navbar-menu,
	.navbar-start {
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	.navbar {
		height: 3.25rem
	}
	.navbar-burger {
		display: none
	}
	.navbar-item,
	.navbar-link {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
	.navbar-link::after {
		border: 1px solid #00a8d6;
		border-right: 0;
		border-top: 0;
		content: " ";
		display: block;
		height: .5em;
		pointer-events: none;
		position: absolute;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		width: .5em;
		margin-top: -.375em;
		right: 1.125em;
		top: 50%
	}
	.navbar-menu {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-negative: 0;
		flex-shrink: 0
	}
	.navbar-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin-right: auto
	}
	.navbar-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		margin-left: auto
	}
	.container>.navbar {
		margin-left: -1rem;
		margin-right: -1rem
	}
	.navbar-link.is-active,
	a.navbar-item.is-active {
		color: #333
	}
	.navbar-link.is-active:not(:hover),
	a.navbar-item.is-active:not(:hover) {
		background-color: transparent
	}
}


/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */

@keyframes spinAround {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(359deg)
	}
}

.button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.navbar-link:not(.is-arrowless)::after {
	border: 3px solid transparent;
	border-radius: 2px;
	border-right: 0;
	border-top: 0;
	content: " ";
	display: block;
	height: .625em;
	margin-top: -.4375em;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: rotate(-45deg);
	transform-origin: center;
	width: .625em
}

.box:not(:last-child),
.content:not(:last-child),
.list:not(:last-child),
.subtitle:not(:last-child),
.title:not(:last-child) {
	margin-bottom: 1.5rem
}

.button.is-loading::after {
	animation: spinAround .5s infinite linear;
	border: 2px solid #dbdbdb;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 1em;
	position: relative;
	width: 1em
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img,
.is-overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}

.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.375em - 1px);
	padding-left: calc(.625em - 1px);
	padding-right: calc(.625em - 1px);
	padding-top: calc(.375em - 1px);
	position: relative;
	vertical-align: top
}

.button:active,
.button:focus,
.is-active.button {
	outline: 0
}

.button[disabled] {
	cursor: not-allowed
}


/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */

body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

button {
	margin: 0
}

html {
	box-sizing: border-box
}

*,
::after,
::before {
	box-sizing: inherit
}

img {
	height: auto;
	max-width: 100%
}

html {
	background-color: #fff;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%
}

figure,
footer,
section {
	display: block
}

body,
button {
	font-family: europa, sans-serif
}

code {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: monospace
}

body {
	color: #333;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5
}

a {
	color: #3273dc;
	cursor: pointer;
	text-decoration: none
}

a strong {
	color: currentColor
}

a:hover {
	color: #c5c5c5
}

code {
	background-color: #f5f5f5;
	color: #ff3860;
	font-size: .875em;
	font-weight: 400;
	padding: .25em .5em .25em
}

img {
	height: auto;
	max-width: 100%
}

small {
	font-size: .875em
}

span {
	font-style: inherit;
	font-weight: inherit
}

strong {
	color: #c5c5c5;
	font-weight: 700
}

.is-size-1 {
	font-size: 3rem!important
}

.is-size-2 {
	font-size: 2.5rem!important
}

.is-size-3 {
	font-size: 2rem!important
}

.is-size-4 {
	font-size: 1.5rem!important
}

.is-size-5 {
	font-size: 1.25rem!important
}

.is-size-6 {
	font-size: 1rem!important
}

.is-size-7 {
	font-size: .75rem!important
}

@media screen and (max-width:768px) {
	.is-size-1-mobile {
		font-size: 3rem!important
	}
	.is-size-2-mobile {
		font-size: 2.5rem!important
	}
	.is-size-3-mobile {
		font-size: 2rem!important
	}
	.is-size-4-mobile {
		font-size: 1.5rem!important
	}
	.is-size-5-mobile {
		font-size: 1.25rem!important
	}
	.is-size-6-mobile {
		font-size: 1rem!important
	}
	.is-size-7-mobile {
		font-size: .75rem!important
	}
}

@media screen and (min-width:769px),
print {
	.is-size-1-tablet {
		font-size: 3rem!important
	}
	.is-size-2-tablet {
		font-size: 2.5rem!important
	}
	.is-size-3-tablet {
		font-size: 2rem!important
	}
	.is-size-4-tablet {
		font-size: 1.5rem!important
	}
	.is-size-5-tablet {
		font-size: 1.25rem!important
	}
	.is-size-6-tablet {
		font-size: 1rem!important
	}
	.is-size-7-tablet {
		font-size: .75rem!important
	}
}

@media screen and (max-width:1087px) {
	.is-size-1-touch {
		font-size: 3rem!important
	}
	.is-size-2-touch {
		font-size: 2.5rem!important
	}
	.is-size-3-touch {
		font-size: 2rem!important
	}
	.is-size-4-touch {
		font-size: 1.5rem!important
	}
	.is-size-5-touch {
		font-size: 1.25rem!important
	}
	.is-size-6-touch {
		font-size: 1rem!important
	}
	.is-size-7-touch {
		font-size: .75rem!important
	}
}

@media screen and (min-width:1088px) {
	.is-size-1-desktop {
		font-size: 3rem!important
	}
	.is-size-2-desktop {
		font-size: 2.5rem!important
	}
	.is-size-3-desktop {
		font-size: 2rem!important
	}
	.is-size-4-desktop {
		font-size: 1.5rem!important
	}
	.is-size-5-desktop {
		font-size: 1.25rem!important
	}
	.is-size-6-desktop {
		font-size: 1rem!important
	}
	.is-size-7-desktop {
		font-size: .75rem!important
	}
}

@media screen and (min-width:1280px) {
	.is-size-1-widescreen {
		font-size: 3rem!important
	}
	.is-size-2-widescreen {
		font-size: 2.5rem!important
	}
	.is-size-3-widescreen {
		font-size: 2rem!important
	}
	.is-size-4-widescreen {
		font-size: 1.5rem!important
	}
	.is-size-5-widescreen {
		font-size: 1.25rem!important
	}
	.is-size-6-widescreen {
		font-size: 1rem!important
	}
	.is-size-7-widescreen {
		font-size: .75rem!important
	}
}

.has-text-centered {
	text-align: center!important
}

.has-text-right {
	text-align: right!important
}

@media screen and (max-width:768px) {
	.has-text-centered-mobile {
		text-align: center!important
	}
}

@media screen and (min-width:769px),
print {
	.has-text-centered-tablet {
		text-align: center!important
	}
}

@media screen and (max-width:1087px) {
	.has-text-centered-touch {
		text-align: center!important
	}
}

@media screen and (min-width:1088px) {
	.has-text-centered-desktop {
		text-align: center!important
	}
}

@media screen and (min-width:1280px) {
	.has-text-centered-widescreen {
		text-align: center!important
	}
}

@media screen and (max-width:768px) {
	.has-text-right-mobile {
		text-align: right!important
	}
}

@media screen and (min-width:769px),
print {
	.has-text-right-tablet {
		text-align: right!important
	}
}

@media screen and (max-width:1087px) {
	.has-text-right-touch {
		text-align: right!important
	}
}

@media screen and (min-width:1088px) {
	.has-text-right-desktop {
		text-align: right!important
	}
}

@media screen and (min-width:1280px) {
	.has-text-right-widescreen {
		text-align: right!important
	}
}

.has-text-white {
	color: #fff!important
}

a.has-text-white:focus,
a.has-text-white:hover {
	color: #e6e6e6!important
}

.has-text-light {
	color: #f5f5f5!important
}

a.has-text-light:focus,
a.has-text-light:hover {
	color: #dbdbdb!important
}

.has-text-primary {
	color: #333!important
}

a.has-text-primary:focus,
a.has-text-primary:hover {
	color: #5e07cd!important
}

.has-text-link {
	color: #3273dc!important
}

a.has-text-link:focus,
a.has-text-link:hover {
	color: #205bbc!important
}

.has-text-weight-light {
	font-weight: 300!important
}

.has-text-weight-normal {
	font-weight: 400!important
}

.is-inline {
	display: inline!important
}

@media screen and (max-width:768px) {
	.is-inline-mobile {
		display: inline!important
	}
}

@media screen and (min-width:769px),
print {
	.is-inline-tablet {
		display: inline!important
	}
}

@media screen and (max-width:1087px) {
	.is-inline-touch {
		display: inline!important
	}
}

@media screen and (min-width:1088px) {
	.is-inline-desktop {
		display: inline!important
	}
}

@media screen and (min-width:1280px) {
	.is-inline-widescreen {
		display: inline!important
	}
}

.is-hidden {
	display: none!important
}

@media screen and (max-width:768px) {
	.is-hidden-mobile {
		display: none!important
	}
}

@media screen and (min-width:769px),
print {
	.is-hidden-tablet {
		display: none!important
	}
}

@media screen and (max-width:1087px) {
	.is-hidden-touch {
		display: none!important
	}
}

@media screen and (min-width:1088px) {
	.is-hidden-desktop {
		display: none!important
	}
}

@media screen and (min-width:1280px) {
	.is-hidden-widescreen {
		display: none!important
	}
}

.box {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, .5), 0 0 0 1px #bbb;
	color: #333;
	display: block;
	padding: 1.25rem
}

a.box:focus,
a.box:hover {
	box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px #3273dc
}

a.box:active {
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2), 0 0 0 1px #3273dc
}

.button {
	background-color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	color: #c5c5c5;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-left: .75em;
	padding-right: .75em;
	padding-top: calc(.375em - 1px);
	text-align: center;
	white-space: nowrap
}

.button strong {
	color: inherit
}

.button .icon,
.button .icon.is-medium,
.button .icon.is-small {
	height: 1.5em;
	width: 1.5em
}

.button .icon:first-child:not(:last-child) {
	margin-left: calc(-.375em - 1px);
	margin-right: .1875em
}

.button .icon:last-child:not(:first-child) {
	margin-left: .1875em;
	margin-right: calc(-.375em - 1px)
}

.button .icon:first-child:last-child {
	margin-left: calc(-.375em - 1px);
	margin-right: calc(-.375em - 1px)
}

.button:hover {
	border-color: #b5b5b5;
	color: #c5c5c5
}

.button:focus {
	border-color: #3273dc;
	color: #c5c5c5
}

.button:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button.is-active,
.button:active {
	border-color: #4a4a4a;
	color: #c5c5c5
}

.button.is-text {
	background-color: transparent;
	border-color: transparent;
	color: #333;
	text-decoration: underline
}

.button.is-text:focus,
.button.is-text:hover {
	background-color: #f5f5f5;
	color: #c5c5c5
}

.button.is-text.is-active,
.button.is-text:active {
	background-color: #e8e8e8;
	color: #c5c5c5
}

.button.is-text[disabled] {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none
}

.button.is-white {
	background-color: #fff;
	border-color: transparent;
	color: #333
}

.button.is-white:hover {
	background-color: #f9f9f9;
	border-color: transparent;
	color: #333
}

.button.is-white:focus {
	border-color: transparent;
	color: #333
}

.button.is-white:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(255, 255, 255, .25)
}

.button.is-white.is-active,
.button.is-white:active {
	background-color: #f2f2f2;
	border-color: transparent;
	color: #333
}

.button.is-white[disabled] {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none
}

.button.is-white.is-loading::after {
	border-color: transparent transparent #333 #333!important
}

.button.is-white.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button.is-white.is-outlined:focus,
.button.is-white.is-outlined:hover {
	background-color: #fff;
	border-color: #fff;
	color: #333
}

.button.is-white.is-outlined.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button.is-white.is-outlined[disabled] {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button.is-light {
	background-color: #f5f5f5;
	border-color: transparent;
	color: #333
}

.button.is-light:hover {
	background-color: #eee;
	border-color: transparent;
	color: #333
}

.button.is-light:focus {
	border-color: transparent;
	color: #333
}

.button.is-light:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(245, 245, 245, .25)
}

.button.is-light.is-active,
.button.is-light:active {
	background-color: #e8e8e8;
	border-color: transparent;
	color: #333
}

.button.is-light[disabled] {
	background-color: #f5f5f5;
	border-color: transparent;
	box-shadow: none
}

.button.is-light.is-loading::after {
	border-color: transparent transparent #333 #333!important
}

.button.is-light.is-outlined {
	background-color: transparent;
	border-color: #f5f5f5;
	color: #f5f5f5
}

.button.is-light.is-outlined:focus,
.button.is-light.is-outlined:hover {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	color: #333
}

.button.is-light.is-outlined.is-loading::after {
	border-color: transparent transparent #f5f5f5 #f5f5f5!important
}

.button.is-light.is-outlined[disabled] {
	background-color: transparent;
	border-color: #f5f5f5;
	box-shadow: none;
	color: #f5f5f5
}

.button.is-primary {
	background-color: #333;
	border-color: transparent;
	color: #fff
}

.button.is-primary:hover {
	background-color: #6e08f2;
	border-color: transparent;
	color: #fff
}

.button.is-primary:focus {
	border-color: transparent;
	color: #fff
}

.button.is-primary:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(117, 16, 247, .25)
}

.button.is-primary.is-active,
.button.is-primary:active {
	background-color: #6908e6;
	border-color: transparent;
	color: #fff
}

.button.is-primary[disabled] {
	background-color: #333;
	border-color: transparent;
	box-shadow: none
}

.button.is-primary.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button.is-primary.is-outlined {
	background-color: transparent;
	border-color: #333;
	color: #333
}

.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover {
	background-color: #333;
	border-color: #333;
	color: #fff
}

.button.is-primary.is-outlined.is-loading::after {
	border-color: transparent transparent #333 #333!important
}

.button.is-primary.is-outlined[disabled] {
	background-color: transparent;
	border-color: #333;
	box-shadow: none;
	color: #333
}

.button.is-link {
	background-color: #3273dc;
	border-color: transparent;
	color: #fff
}

.button.is-link:hover {
	background-color: #276cda;
	border-color: transparent;
	color: #fff
}

.button.is-link:focus {
	border-color: transparent;
	color: #fff
}

.button.is-link:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button.is-link.is-active,
.button.is-link:active {
	background-color: #2366d1;
	border-color: transparent;
	color: #fff
}

.button.is-link[disabled] {
	background-color: #3273dc;
	border-color: transparent;
	box-shadow: none
}

.button.is-link.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button.is-link.is-outlined {
	background-color: transparent;
	border-color: #3273dc;
	color: #3273dc
}

.button.is-link.is-outlined:focus,
.button.is-link.is-outlined:hover {
	background-color: #3273dc;
	border-color: #3273dc;
	color: #fff
}

.button.is-link.is-outlined.is-loading::after {
	border-color: transparent transparent #3273dc #3273dc!important
}

.button.is-link.is-outlined[disabled] {
	background-color: transparent;
	border-color: #3273dc;
	box-shadow: none;
	color: #3273dc
}

.button.is-small {
	border-radius: 2px;
	font-size: .75rem
}

.button.is-normal {
	font-size: 1rem
}

.button.is-medium {
	font-size: 1.25rem
}

.button[disabled] {
	background-color: #fff;
	border-color: #dbdbdb;
	box-shadow: none;
	opacity: .5
}

.button.is-loading {
	color: transparent!important;
	pointer-events: none
}

.button.is-loading::after {
	position: absolute;
	left: calc(50% - (1em / 2));
	top: calc(50% - (1em / 2));
	position: absolute!important
}

.button.is-rounded {
	border-radius: 290486px;
	padding-left: 1em;
	padding-right: 1em
}

.buttons {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start
}

.buttons .button {
	margin-bottom: .5rem
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
	margin-right: .5rem
}

.buttons:last-child {
	margin-bottom: -.5rem
}

.buttons:not(:last-child) {
	margin-bottom: 1rem
}

.buttons.is-centered {
	justify-content: center
}

.buttons.is-right {
	justify-content: flex-end
}

.container {
	margin: 0 auto;
	position: relative
}

@media screen and (min-width:1088px) {
	.container {
		max-width: 960px;
		width: 960px
	}
}

@media screen and (max-width:1279px) {
	.container.is-widescreen {
		max-width: 1152px;
		width: auto
	}
}

@media screen and (min-width:1280px) {
	.container {
		max-width: 1152px;
		width: 1152px
	}
}

@media screen and (min-width:1472px) {
	.container {
		max-width: 1344px;
		width: 1344px
	}
}

.content p:not(:last-child) {
	margin-bottom: 1em
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: #c5c5c5;
	font-weight: 600;
	line-height: 1.125
}

.content h1 {
	font-size: 2em;
	margin-bottom: .5em
}

.content h1:not(:first-child) {
	margin-top: 1em
}

.content h2 {
	font-size: 1.75em;
	margin-bottom: .5714em
}

.content h2:not(:first-child) {
	margin-top: 1.1428em
}

.content h3 {
	font-size: 1.5em;
	margin-bottom: .6666em
}

.content h3:not(:first-child) {
	margin-top: 1.3333em
}

.content h4 {
	font-size: 1.25em;
	margin-bottom: .8em
}

.content h5 {
	font-size: 1.125em;
	margin-bottom: .8888em
}

.content h6 {
	font-size: 1em;
	margin-bottom: 1em
}

.content figure {
	margin-left: 2em;
	margin-right: 2em;
	text-align: center
}

.content figure:not(:first-child) {
	margin-top: 2em
}

.content figure:not(:last-child) {
	margin-bottom: 2em
}

.content figure img {
	display: inline-block
}

.content figure figcaption {
	font-style: italic
}

.content.is-small {
	font-size: .75rem
}

.content.is-medium {
	font-size: 1.25rem
}

.label {
	color: #c5c5c5;
	display: block;
	font-size: 1rem;
	font-weight: 700
}

.label:not(:last-child) {
	margin-bottom: .5em
}

.label.is-small {
	font-size: .75rem
}

.label.is-medium {
	font-size: 1.25rem
}

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem
}

.icon.is-small {
	height: 1rem;
	width: 1rem
}

.icon.is-medium {
	height: 2rem;
	width: 2rem
}

.image {
	display: block;
	position: relative
}

.image img {
	display: block;
	height: auto;
	width: 100%
}

.image img.is-rounded {
	border-radius: 290486px
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img {
	height: 100%;
	width: 100%
}

.image.is-1by1 {
	padding-top: 100%
}

.image.is-5by4 {
	padding-top: 80%
}

.image.is-4by3 {
	padding-top: 75%
}

.image.is-3by2 {
	padding-top: 66.6666%
}

.image.is-5by3 {
	padding-top: 60%
}

.image.is-16by9 {
	padding-top: 56.25%
}

.image.is-2by1 {
	padding-top: 50%
}

.image.is-3by1 {
	padding-top: 33.3333%
}

.image.is-4by5 {
	padding-top: 125%
}

.image.is-3by4 {
	padding-top: 133.3333%
}

.image.is-2by3 {
	padding-top: 150%
}

.image.is-3by5 {
	padding-top: 166.6666%
}

.image.is-9by16 {
	padding-top: 177.7777%
}

.image.is-1by2 {
	padding-top: 200%
}

.image.is-1by3 {
	padding-top: 300%
}

.image.is-16x16 {
	height: 16px;
	width: 16px
}

.image.is-24x24 {
	height: 24px;
	width: 24px
}

.image.is-32x32 {
	height: 32px;
	width: 32px
}

.image.is-48x48 {
	height: 48px;
	width: 48px
}

.image.is-64x64 {
	height: 64px;
	width: 64px
}

.image.is-96x96 {
	height: 96px;
	width: 96px
}

.image.is-128x128 {
	height: 128px;
	width: 128px
}

@keyframes moveIndeterminate {
	from {
		background-position: 200% 0
	}
	to {
		background-position: -200% 0
	}
}

.subtitle,
.title {
	word-break: break-word
}

.subtitle span,
.title span {
	font-weight: inherit
}

.title {
	color: #c5c5c5;
	font-size: 2rem;
	font-weight: 800;
	line-height: 1.125
}

.title strong {
	color: inherit;
	font-weight: inherit
}

.title:not(.is-spaced)+.subtitle {
	margin-top: -1.25rem
}

.title.is-1 {
	font-size: 3rem
}

.title.is-2 {
	font-size: 2.5rem
}

.title.is-3 {
	font-size: 2rem
}

.title.is-4 {
	font-size: 1.5rem
}

.title.is-5 {
	font-size: 1.25rem
}

.title.is-6 {
	font-size: 1rem
}

.title.is-7 {
	font-size: .75rem
}

.subtitle {
	color: #4a4a4a;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.25
}

.subtitle strong {
	color: #c5c5c5;
	font-weight: 600
}

.subtitle:not(.is-spaced)+.title {
	margin-top: -1.25rem
}

.subtitle.is-1 {
	font-size: 3rem
}

.subtitle.is-2 {
	font-size: 2.5rem
}

.subtitle.is-3 {
	font-size: 2rem
}

.subtitle.is-4 {
	font-size: 1.5rem
}

.subtitle.is-5 {
	font-size: 1.25rem
}

.subtitle.is-6 {
	font-size: 1rem
}

.subtitle.is-7 {
	font-size: .75rem
}

.list {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1)
}

.list-item {
	display: block;
	padding: .5em 1em
}

.list-item:not(a) {
	color: #333
}

.list-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.list-item:last-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.list-item:not(:last-child) {
	border-bottom: 1px solid #dbdbdb
}

.list-item.is-active {
	background-color: #3273dc;
	color: #fff
}

a.list-item {
	background-color: #f5f5f5;
	cursor: pointer
}

.menu {
	font-size: 1rem
}

.menu.is-small {
	font-size: .75rem
}

.menu.is-medium {
	font-size: 1.25rem
}

.menu-list {
	line-height: 1.25
}

.menu-list a {
	border-radius: 2px;
	color: #333;
	display: block;
	padding: .5em .75em
}

.menu-list a:hover {
	background-color: #f5f5f5;
	color: #c5c5c5
}

.menu-list a.is-active {
	background-color: #3273dc;
	color: #fff
}

.menu-label {
	color: #7a7a7a;
	font-size: .75em;
	letter-spacing: .1em;
	text-transform: uppercase
}

.menu-label:not(:first-child) {
	margin-top: 1em
}

.menu-label:not(:last-child) {
	margin-bottom: 1em
}

.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: .75rem
}

.columns.is-mobile>.column.is-narrow {
	flex: none
}

.columns.is-mobile>.column.is-half {
	flex: none;
	width: 50%
}

.columns.is-mobile>.column.is-one-third {
	flex: none;
	width: 33.3333%
}

.columns.is-mobile>.column.is-three-fifths {
	flex: none;
	width: 60%
}

.columns.is-mobile>.column.is-1 {
	flex: none;
	width: 8.3333333333%
}

.columns.is-mobile>.column.is-2 {
	flex: none;
	width: 16.6666666667%
}

.columns.is-mobile>.column.is-3 {
	flex: none;
	width: 25%
}

.columns.is-mobile>.column.is-4 {
	flex: none;
	width: 33.3333333333%
}

.columns.is-mobile>.column.is-5 {
	flex: none;
	width: 41.6666666667%
}

.columns.is-mobile>.column.is-6 {
	flex: none;
	width: 50%
}

.columns.is-mobile>.column.is-7 {
	flex: none;
	width: 58.3333333333%
}

.columns.is-mobile>.column.is-8 {
	flex: none;
	width: 66.6666666667%
}

.columns.is-mobile>.column.is-9 {
	flex: none;
	width: 75%
}

.columns.is-mobile>.column.is-10 {
	flex: none;
	width: 83.3333333333%
}

.columns.is-mobile>.column.is-11 {
	flex: none;
	width: 91.6666666667%
}

.columns.is-mobile>.column.is-12 {
	flex: none;
	width: 100%
}

@media screen and (max-width:768px) {
	.column.is-narrow-mobile {
		flex: none
	}
	.column.is-half-mobile {
		flex: none;
		width: 50%
	}
	.column.is-one-third-mobile {
		flex: none;
		width: 33.3333%
	}
	.column.is-three-fifths-mobile {
		flex: none;
		width: 60%
	}
	.column.is-1-mobile {
		flex: none;
		width: 8.3333333333%
	}
	.column.is-2-mobile {
		flex: none;
		width: 16.6666666667%
	}
	.column.is-3-mobile {
		flex: none;
		width: 25%
	}
	.column.is-4-mobile {
		flex: none;
		width: 33.3333333333%
	}
	.column.is-5-mobile {
		flex: none;
		width: 41.6666666667%
	}
	.column.is-6-mobile {
		flex: none;
		width: 50%
	}
	.column.is-7-mobile {
		flex: none;
		width: 58.3333333333%
	}
	.column.is-8-mobile {
		flex: none;
		width: 66.6666666667%
	}
	.column.is-9-mobile {
		flex: none;
		width: 75%
	}
	.column.is-10-mobile {
		flex: none;
		width: 83.3333333333%
	}
	.column.is-11-mobile {
		flex: none;
		width: 91.6666666667%
	}
	.column.is-12-mobile {
		flex: none;
		width: 100%
	}
}

@media screen and (min-width:769px),
print {
	.column.is-narrow,
	.column.is-narrow-tablet {
		flex: none
	}
	.column.is-half,
	.column.is-half-tablet {
		flex: none;
		width: 50%
	}
	.column.is-one-third,
	.column.is-one-third-tablet {
		flex: none;
		width: 33.3333%
	}
	.column.is-three-fifths,
	.column.is-three-fifths-tablet {
		flex: none;
		width: 60%
	}
	.column.is-1,
	.column.is-1-tablet {
		flex: none;
		width: 8.3333333333%
	}
	.column.is-2,
	.column.is-2-tablet {
		flex: none;
		width: 16.6666666667%
	}
	.column.is-3,
	.column.is-3-tablet {
		flex: none;
		width: 25%
	}
	.column.is-4,
	.column.is-4-tablet {
		flex: none;
		width: 33.3333333333%
	}
	.column.is-5,
	.column.is-5-tablet {
		flex: none;
		width: 41.6666666667%
	}
	.column.is-6,
	.column.is-6-tablet {
		flex: none;
		width: 50%
	}
	.column.is-7,
	.column.is-7-tablet {
		flex: none;
		width: 58.3333333333%
	}
	.column.is-8,
	.column.is-8-tablet {
		flex: none;
		width: 66.6666666667%
	}
	.column.is-9,
	.column.is-9-tablet {
		flex: none;
		width: 75%
	}
	.column.is-10,
	.column.is-10-tablet {
		flex: none;
		width: 83.3333333333%
	}
	.column.is-11,
	.column.is-11-tablet {
		flex: none;
		width: 91.6666666667%
	}
	.column.is-12,
	.column.is-12-tablet {
		flex: none;
		width: 100%
	}
}

@media screen and (max-width:1087px) {
	.column.is-narrow-touch {
		flex: none
	}
	.column.is-half-touch {
		flex: none;
		width: 50%
	}
	.column.is-one-third-touch {
		flex: none;
		width: 33.3333%
	}
	.column.is-three-fifths-touch {
		flex: none;
		width: 60%
	}
	.column.is-1-touch {
		flex: none;
		width: 8.3333333333%
	}
	.column.is-2-touch {
		flex: none;
		width: 16.6666666667%
	}
	.column.is-3-touch {
		flex: none;
		width: 25%
	}
	.column.is-4-touch {
		flex: none;
		width: 33.3333333333%
	}
	.column.is-5-touch {
		flex: none;
		width: 41.6666666667%
	}
	.column.is-6-touch {
		flex: none;
		width: 50%
	}
	.column.is-7-touch {
		flex: none;
		width: 58.3333333333%
	}
	.column.is-8-touch {
		flex: none;
		width: 66.6666666667%
	}
	.column.is-9-touch {
		flex: none;
		width: 75%
	}
	.column.is-10-touch {
		flex: none;
		width: 83.3333333333%
	}
	.column.is-11-touch {
		flex: none;
		width: 91.6666666667%
	}
	.column.is-12-touch {
		flex: none;
		width: 100%
	}
}

@media screen and (min-width:1088px) {
	.column.is-narrow-desktop {
		flex: none
	}
	.column.is-half-desktop {
		flex: none;
		width: 50%
	}
	.column.is-one-third-desktop {
		flex: none;
		width: 33.3333%
	}
	.column.is-three-fifths-desktop {
		flex: none;
		width: 60%
	}
	.column.is-1-desktop {
		flex: none;
		width: 8.3333333333%
	}
	.column.is-2-desktop {
		flex: none;
		width: 16.6666666667%
	}
	.column.is-3-desktop {
		flex: none;
		width: 25%
	}
	.column.is-4-desktop {
		flex: none;
		width: 33.3333333333%
	}
	.column.is-5-desktop {
		flex: none;
		width: 41.6666666667%
	}
	.column.is-6-desktop {
		flex: none;
		width: 50%
	}
	.column.is-7-desktop {
		flex: none;
		width: 58.3333333333%
	}
	.column.is-8-desktop {
		flex: none;
		width: 66.6666666667%
	}
	.column.is-9-desktop {
		flex: none;
		width: 75%
	}
	.column.is-10-desktop {
		flex: none;
		width: 83.3333333333%
	}
	.column.is-11-desktop {
		flex: none;
		width: 91.6666666667%
	}
	.column.is-12-desktop {
		flex: none;
		width: 100%
	}
}

@media screen and (min-width:1280px) {
	.column.is-narrow-widescreen {
		flex: none
	}
	.column.is-half-widescreen {
		flex: none;
		width: 50%
	}
	.column.is-one-third-widescreen {
		flex: none;
		width: 33.3333%
	}
	.column.is-three-fifths-widescreen {
		flex: none;
		width: 60%
	}
	.column.is-1-widescreen {
		flex: none;
		width: 8.3333333333%
	}
	.column.is-2-widescreen {
		flex: none;
		width: 16.6666666667%
	}
	.column.is-3-widescreen {
		flex: none;
		width: 25%
	}
	.column.is-4-widescreen {
		flex: none;
		width: 33.3333333333%
	}
	.column.is-5-widescreen {
		flex: none;
		width: 41.6666666667%
	}
	.column.is-6-widescreen {
		flex: none;
		width: 50%
	}
	.column.is-7-widescreen {
		flex: none;
		width: 58.3333333333%
	}
	.column.is-8-widescreen {
		flex: none;
		width: 66.6666666667%
	}
	.column.is-9-widescreen {
		flex: none;
		width: 75%
	}
	.column.is-10-widescreen {
		flex: none;
		width: 83.3333333333%
	}
	.column.is-11-widescreen {
		flex: none;
		width: 91.6666666667%
	}
	.column.is-12-widescreen {
		flex: none;
		width: 100%
	}
}

.columns {
	margin-left: -.75rem;
	margin-right: -.75rem;
	margin-top: -.75rem
}

.columns:last-child {
	margin-bottom: -.75rem
}

.columns:not(:last-child) {
	margin-bottom: calc(1.5rem - .75rem)
}

.columns.is-centered {
	justify-content: center
}

.columns.is-mobile {
	display: flex
}

.columns.is-multiline {
	flex-wrap: wrap
}

.columns.is-vcentered {
	align-items: center
}

@media screen and (min-width:769px),
print {
	.columns:not(.is-desktop) {
		display: flex
	}
}

@media screen and (min-width:1088px) {
	.columns.is-desktop {
		display: flex
	}
}

.hero {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.hero .navbar {
	background: 0 0
}

.hero.is-white {
	background-color: #fff;
	color: #333
}

.hero.is-white a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-white strong {
	color: inherit
}

.hero.is-white .title {
	color: #333
}

.hero.is-white .subtitle {
	color: rgba(10, 10, 10, .9)
}

.hero.is-white .subtitle a:not(.button),
.hero.is-white .subtitle strong {
	color: #333
}

@media screen and (max-width:1087px) {
	.hero.is-white .navbar-menu {
		background-color: #fff
	}
}

.hero.is-white .navbar-item,
.hero.is-white .navbar-link {
	color: rgba(10, 10, 10, .7)
}

.hero.is-white .navbar-link.is-active,
.hero.is-white .navbar-link:hover,
.hero.is-white a.navbar-item.is-active,
.hero.is-white a.navbar-item:hover {
	background-color: #f2f2f2;
	color: #333
}

.hero.is-light {
	background-color: #f5f5f5;
	color: #333
}

.hero.is-light a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-light strong {
	color: inherit
}

.hero.is-light .title {
	color: #333
}

.hero.is-light .subtitle {
	color: rgba(20, 28, 58, .9)
}

.hero.is-light .subtitle a:not(.button),
.hero.is-light .subtitle strong {
	color: #333
}

@media screen and (max-width:1087px) {
	.hero.is-light .navbar-menu {
		background-color: #f5f5f5
	}
}

.hero.is-light .navbar-item,
.hero.is-light .navbar-link {
	color: rgba(20, 28, 58, .7)
}

.hero.is-light .navbar-link.is-active,
.hero.is-light .navbar-link:hover,
.hero.is-light a.navbar-item.is-active,
.hero.is-light a.navbar-item:hover {
	background-color: #e8e8e8;
	color: #333
}

.hero.is-primary {
	background-color: #333;
	color: #fff
}

.hero.is-primary a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-primary strong {
	color: inherit
}

.hero.is-primary .title {
	color: #fff
}

.hero.is-primary .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-primary .subtitle a:not(.button),
.hero.is-primary .subtitle strong {
	color: #fff
}

@media screen and (max-width:1087px) {
	.hero.is-primary .navbar-menu {
		background-color: #333
	}
}

.hero.is-primary .navbar-item,
.hero.is-primary .navbar-link {
	color: rgba(255, 255, 255, .7)
}

.hero.is-primary .navbar-link.is-active,
.hero.is-primary .navbar-link:hover,
.hero.is-primary a.navbar-item.is-active,
.hero.is-primary a.navbar-item:hover {
	background-color: #6908e6;
	color: #fff
}

.hero.is-link {
	background-color: #3273dc;
	color: #fff
}

.hero.is-link a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-link strong {
	color: inherit
}

.hero.is-link .title {
	color: #fff
}

.hero.is-link .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
	color: #fff
}

@media screen and (max-width:1087px) {
	.hero.is-link .navbar-menu {
		background-color: #3273dc
	}
}

.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
	color: rgba(255, 255, 255, .7)
}

.hero.is-link .navbar-link.is-active,
.hero.is-link .navbar-link:hover,
.hero.is-link a.navbar-item.is-active,
.hero.is-link a.navbar-item:hover {
	background-color: #2366d1;
	color: #fff
}

.hero.is-small .hero-body {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem
}

@media screen and (min-width:769px),
print {
	.hero.is-medium .hero-body {
		padding-bottom: 9rem;
		padding-top: 9rem
	}
}

.hero-buttons {
	margin-top: 1.5rem
}

@media screen and (max-width:768px) {
	.hero-buttons .button {
		display: flex
	}
	.hero-buttons .button:not(:last-child) {
		margin-bottom: .75rem
	}
}

@media screen and (min-width:769px),
print {
	.hero-buttons {
		display: flex;
		justify-content: center
	}
	.hero-buttons .button:not(:last-child) {
		margin-right: 1.5rem
	}
}

.hero-foot,
.hero-head {
	flex-grow: 0;
	flex-shrink: 0
}

.hero-body {
	flex-grow: 1;
	flex-shrink: 0;
	padding: 3rem 1.5rem
}

.section {
	padding: 3rem 1.5rem
}

@media screen and (min-width:1088px) {
	.section.is-medium {
		padding: 9rem 1.5rem
	}
}

.footer {
	background-color: #fafafa;
	padding: 3rem 1.5rem 6rem
}

html {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: eurostile, sans-serif;
	font-weight: 800
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-family: eurostile, sans-serif;
	font-weight: 800;
	color: #333
}

.content p {
	font-size: 18px
}

.content p:not(:last-child) {
	margin-bottom: 2em
}

@media screen and (min-width:1088px) {
	.content p {
		font-size: 20px;
		line-height: 30px
	}
}

.title {
	color: #333;
	font-weight: 800
}

.subtitle {
	font-family: europa, sans-serif;
	font-weight: 300;
	line-height: 1.5
}

.button,
a {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	font-weight: 400
}

a {
	color: #333
}

a:hover {
	color: #bbb
}

.button {
	font-family: europa, sans-serif
}

.button.is-outlined {
	border-width: 2px
}

.navbar {
	padding: 1.2rem 0;
	box-shadow: none;
	z-index: auto
}

.navbar .navbar-brand a.navbar-item {
	background-color: transparent
}

.navbar .navbar-brand a.navbar-item:hover {
	background-color: transparent
}

.navbar .navbar-brand a.navbar-item img {
	max-height: 3rem
}

.navbar .navbar-brand .navbar-burger {
	height: inherit
}

.navbar .navbar-brand .navbar-burger:hover {
	background-color: transparent
}

.navbar .navbar-menu {
	text-align: center;
	padding: 1rem 0 2rem;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, .5), 0 1px 0 0 #bbb
}

@media screen and (min-width:769px) {
	.navbar .navbar-menu {
		box-shadow: none;
		padding: .5rem 0
	}
}

.navbar .navbar-menu .navbar-item {
	font-size: 18px;
	font-weight: 300;
	color: #333
}

.navbar .navbar-menu .navbar-item:hover {
	color: #333;
	background-color: transparent
}

.navbar .navbar-menu .navbar-item .navbar-link {
	color: #333
}

.navbar .navbar-menu .navbar-item .navbar-link:hover {
	color: #333
}

.navbar .navbar-menu .navbar-burger span {
	height: 2px;
	left: calc(50% - 10px);
	width: 18px
}

.navbar .navbar-menu a.button.is-primary.is-outlined {
	border-width: 2px;
	font-weight: 400;
	font-size: 18px;
	padding: 1.2rem
}

.navbar .navbar-menu a.button.is-primary.is-outlined span.icon {
	margin-top: 4px;
	width: 25px;
	height: 25px;
	margin-left: 0
}

@media screen and (min-width:1024px) {
	.navbar-link::after {
		border: 2px solid #333;
		border-right: 0;
		border-top: 0;
		content: " ";
		display: block;
		height: .5em;
		pointer-events: none;
		position: absolute;
		transform: rotate(-45deg);
		transform-origin: center;
		width: .5em;
		margin-top: -.375em;
		right: 1.4em;
		top: 50%
	}
}

.container.is-narrow {
	max-width: 1200px
}

.box {
	border-radius: 12px
}

.hero {
	padding-top: 2rem
}

.hero.is-white .title {
	color: #333
}

.hero-foot {
	padding: 0 1.5rem
}

.section {
	padding: 5rem 1.5rem
}

.section.is-primary {
	background-color: #333;
	color: #fff
}

.section.is-primary .title {
	color: #fff
}

.section.is-primary .subtitle {
	color: #fff
}

.section.is-long {
	padding-bottom: 14rem
}

@media screen and (min-width:769px) {
	.section.is-long {
		padding-bottom: 16rem
	}
}

@media screen and (min-width:1280px) {
	.section.is-long {
		padding-bottom: 18rem
	}
}

.projects .button.is-primary.is-outlined.is-medium {
	padding: 1.25em 2em;
	font-weight: 400;
	border-width: 2px;
	margin-top: 2rem
}

.projects .project-grid {
	padding: 2rem 0 4rem
}

@media screen and (min-width:769px) {
	.projects .project-grid {
		padding-top: 4rem
	}
}

.projects .project-grid figure {
	position: relative;
	overflow: hidden;
	border-radius: 12px
}

.projects .project-grid figure img.project-thumb {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}

.projects .project-grid figure figcaption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3rem;
	color: #fff;
	z-index: 1
}

@media screen and (min-width:769px) {
	.projects .project-grid figure figcaption {
		padding: 0 2rem
	}
}

.projects .project-grid figure figcaption h1.title {
	color: #fff;
	margin-bottom: 1.8rem;
	font-weight: 500
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
	margin: 0 auto;
	font-size: 18px;
	padding: 1.2rem;
	font-weight: 400;
	border-width: 2px;
	color: #fff
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded span.icon {
	margin-top: 4px;
	margin-left: 0
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded span.icon svg {
	width: 8px
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: .45s ease-in-out;
	transition: .45s ease-in-out
}

.projects .project-grid .overlay {
	background-color: #333
}

.projects .project-grid figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.projects .project-grid figure:hover .overlay,
.projects .project-grid figure:hover figcaption {
	opacity: 1
}

footer.section.is-small {
	padding: 0 1.5rem 4rem
}

@media screen and (min-width:769px) {
	footer.section.is-small {
		padding: 1rem 1.5rem 4rem
	}
}

footer .title {
	font-weight: 300;
	font-size: 1.6rem;
	margin: 2rem auto;
	max-width: 300px;
	opacity: .7
}

@media screen and (min-width:769px) {
	footer .title {
		max-width: 320px
	}
}

footer .made-by-bulma {
	opacity: .6;
	margin-top: .7rem
}

::-webkit-scrollbar {
	width: 6px;
	border-left: 1px solid #bbb
}

::-webkit-scrollbar-thumb {
	background-color: #333
}

.fix {
	width: 3000px
}