@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/react-loading-skeleton/dist/skeleton.css";

.homepage{
    height:20vh;
    width:100vw;
    background-color: blue;
    z-index:1;
}

.wrapper-background-1{
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}

.wrapper-background-2{
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-2;
}