.home {
    .section.is-halfhalf {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        min-height: 100vh;
        max-width: 50vw;
        min-width: 50vw;
        width: 50vw;
    }
    .is-header {
        background-color: transparent;
        .title,
        .subtitle {
            text-align: left;
            background: linear-gradient(to right, #30cfd0 0%, $default-light 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .is-headerfooter {
        background-color: transparent;
        .box {
            background-color: $default-black;
            min-height: 25vh;
            max-height: 25vh;
            min-width: 40vw;
            max-width: 40vw;
            .loading {
                margin-top: -3rem;
            }
        }
        .boxbg {
            min-height: 10vh;
            max-height: 10vh;
            min-width: 10vh;
            max-width: 10vh;
            position: absolute;
            border-radius: 15%;
            &.b1 {
                top: 20%;
                left: 50%;
                background: rgb(2, 0, 36);
                background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
            }
            &.b2 {
                top: 70%;
                left: 60%;
                background: rgb(63, 94, 251);
                background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
            }
            &.b3 {
                top: 80%;
                left: 65%;
                background: rgb(63, 94, 251);
                background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
            }
            &.b4 {
                top: 18%;
                left: 85%;
                background: rgb(63, 94, 251);
                background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
            }
            &.b5 {
                top: 70%;
                left: 88%;
                background: rgb(63, 94, 251);
                background-image: linear-gradient(to right, #ff9966, #ff5e62);
            }
        }
    }
}

//home background
.homeanimbg {
    background-color: white;
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: -10%;
        z-index: 0;
        min-width: 300vw;
        min-height: 300vw;
        background-color: $default-black;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &:before {
        bottom: 5vh;
        border-radius: 45%;
        animation-duration: 10s;
    }

    &:after {
        bottom: 2vh;
        opacity: 0.5;
        border-radius: 47%;
        animation-duration: 10s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}
