@import url('https://fonts.googleapis.com/css?family=Orbitron:900&display=swap');

body {
    margin: 0;
    padding: 0;
    background:#000000;
}

.knightrider-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}


 .txt {
    background:#000000;
    font-family: 'Orbitron', sans-serif;
    font-size: 72px;
    color:#ffd8d8;
}

.txt::before {
    content: 'Knight Rider';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.knightrider-wrapper {
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}

.gradient {
    background: linear-gradient(115.8221404393721deg, rgba(245, 167, 128,1) 5.736111111111111%,rgba(241, 43, 92,1) 96.29166666666666%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}








 
