@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ocalla";
  src: url("../public/fonts/Ocalla-Hand.ttf");
}

@font-face {
  font-family: "Asher";
  src: url("../public/fonts/Asher-Punk.ttf");
}

@font-face {
  font-family: "Moki";
  src: url("../public/fonts/Moki-Base.ttf");
}

@font-face {
  font-family: "Sticky";
  src: url("../public/fonts/Sticky-Pops.ttf");
}

@font-face {
  font-family: "Typold";
  src: url("../public/fonts/Typold.woff");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #100d0e;
}

.rotating-curved-text {
  -webkit-animation: spin 14s linear infinite;
  -moz-animation: spin 14s linear infinite;
  animation: spin 14s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.projects-tape {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.projects-tape::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tape-scroll {
  width: calc(100% + 800px);
  left: -800px;
  display: flex;
  color: #fff;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(calc(var(--d) * 1deg))
    translateY(calc(var(--y) * 1px));
  background-color: #6b9fcc;
}

.tape-scroll div {
  color: #1d1104;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  white-space: nowrap;
  animation: animate 60s linear infinite;
  animation-delay: -60s;
  margin-left: -20rem;
}

.tape-scroll div:nth-child(2) {
  animation: animate-two 60s linear infinite;
  animation-delay: -30s;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate-two {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 5%;
  margin-top: -35px;
  border-width: 0.2rem;
  border-radius: 2rem;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.homeanimbg:before,
.homeanimbg:after {
  content: "";
  position: absolute;
  left: -10%;
  z-index: 1;
  min-width: 300vw;
  min-height: 300vw;
  background-color: inherit;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.homeanimbg:before {
  bottom: 5vh;
  border-radius: 45%;
  animation-duration: 10s;
}

.homeanimbg:after {
  bottom: 2vh;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 10s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%)
      rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
