.is-form-page .container {
	padding: 0 20px;
}

.is-form-page .container .avatar {
	width: 84px;
	margin: -50px auto 50px;
	z-index: 10;
}

.is-form-page .container h1.title {
	font-weight: 400;
}

.is-form-page .container form {
	max-width: 640px;
	margin: 32px auto 0;
}

@media screen and (min-width: 769px) {
	.is-form-page .container form {
		margin: 60px auto 0;
	}
}

.is-form-page .container form label.label {
	font-weight: 400;
	font-family: "eurostile", sans-serif;
	font-size: 1.2rem;
	color: rgba(41, 51, 71, 0.65);
}

.is-form-page .container form input,
.is-form-page .container form textarea,
.is-form-page .container form select {
	border-color: #e6ecf8;
	color: #141c3a;
	box-shadow: none;
	font-weight: 300;
}

.is-form-page .container form input:hover,
.is-form-page .container form textarea:hover,
.is-form-page .container form select:hover {
	border-color: #e6ecf8;
}

.is-form-page .container form input:focus,
.is-form-page .container form textarea:focus,
.is-form-page .container form select:focus {
	box-shadow: none;
}

.is-form-page .container form input.is-large,
.is-form-page .container form textarea.is-large,
.is-form-page .container form select.is-large {
	font-size: 1.4rem;
}

.is-form-page .container form .select:not(.is-multiple):not(.is-loading)::after {
	top: 50%;
	border-color: black;
}

.is-form-page .container form .select:not(.is-multiple) {
	height: 50.4px;
}

.is-form-page .container form button {
	margin: 20px 0 80px;
	border-width: 2px;
	font-weight: 400;
	height: auto;
}

.field:not(:last-child) {
	margin-bottom: 0.75rem;
}

.field.has-addons {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
	margin-right: -1px;
}

.field.has-addons .control:not(:first-child):not(:last-child) .button,
.field.has-addons .control:not(:first-child):not(:last-child) .input,
.field.has-addons .control:not(:first-child):not(:last-child) .select select {
	border-radius: 0;
}

.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input,
.field.has-addons .control:first-child:not(:only-child) .select select {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.field.has-addons .control:last-child:not(:only-child) .button,
.field.has-addons .control:last-child:not(:only-child) .input,
.field.has-addons .control:last-child:not(:only-child) .select select {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.field.has-addons .control .button:not([disabled]):hover,
.field.has-addons .control .button:not([disabled]).is-hovered,
.field.has-addons .control .input:not([disabled]):hover,
.field.has-addons .control .input:not([disabled]).is-hovered,
.field.has-addons .control .select select:not([disabled]):hover,
.field.has-addons .control .select select:not([disabled]).is-hovered {
	z-index: 2;
}

.field.has-addons .control .button:not([disabled]):focus,
.field.has-addons .control .button:not([disabled]).is-focused,
.field.has-addons .control .button:not([disabled]):active,
.field.has-addons .control .button:not([disabled]).is-active,
.field.has-addons .control .input:not([disabled]):focus,
.field.has-addons .control .input:not([disabled]).is-focused,
.field.has-addons .control .input:not([disabled]):active,
.field.has-addons .control .input:not([disabled]).is-active,
.field.has-addons .control .select select:not([disabled]):focus,
.field.has-addons .control .select select:not([disabled]).is-focused,
.field.has-addons .control .select select:not([disabled]):active,
.field.has-addons .control .select select:not([disabled]).is-active {
	z-index: 3;
}

.field.has-addons .control .button:not([disabled]):focus:hover,
.field.has-addons .control .button:not([disabled]).is-focused:hover,
.field.has-addons .control .button:not([disabled]):active:hover,
.field.has-addons .control .button:not([disabled]).is-active:hover,
.field.has-addons .control .input:not([disabled]):focus:hover,
.field.has-addons .control .input:not([disabled]).is-focused:hover,
.field.has-addons .control .input:not([disabled]):active:hover,
.field.has-addons .control .input:not([disabled]).is-active:hover,
.field.has-addons .control .select select:not([disabled]):focus:hover,
.field.has-addons .control .select select:not([disabled]).is-focused:hover,
.field.has-addons .control .select select:not([disabled]):active:hover,
.field.has-addons .control .select select:not([disabled]).is-active:hover {
	z-index: 4;
}

.field.has-addons .control.is-expanded {
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
}

.field.has-addons.has-addons-centered {
	-webkit-box-pack: center;
	justify-content: center;
}

.field.has-addons.has-addons-right {
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.field.has-addons.has-addons-fullwidth .control {
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 0;
}

.field.is-grouped {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.field.is-grouped>.control {
	flex-shrink: 0;
}

.field.is-grouped>.control:not(:last-child) {
	margin-bottom: 0;
	margin-right: 0.75rem;
}

.field.is-grouped>.control.is-expanded {
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
}

.field.is-grouped.is-grouped-centered {
	-webkit-box-pack: center;
	justify-content: center;
}

.field.is-grouped.is-grouped-right {
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.field.is-grouped.is-grouped-multiline {
	flex-wrap: wrap;
}

.field.is-grouped.is-grouped-multiline>.control:last-child,
.field.is-grouped.is-grouped-multiline>.control:not(:last-child) {
	margin-bottom: 0.75rem;
}

.field.is-grouped.is-grouped-multiline:last-child {
	margin-bottom: -0.75rem;
}

.field.is-grouped.is-grouped-multiline:not(:last-child) {
	margin-bottom: 0;
}

@media screen and (min-width: 769px),
print {
	.field.is-horizontal {
		display: -webkit-box;
		display: flex;
	}
}

.field-label .label {
	font-size: inherit;
}

@media screen and (max-width: 768px) {
	.field-label {
		margin-bottom: 0.5rem;
	}
}

@media screen and (min-width: 769px),
print {
	.field-label {
		flex-basis: 0;
		-webkit-box-flex: 1;
		flex-grow: 1;
		flex-shrink: 0;
		margin-right: 1.5rem;
		text-align: right;
	}

	.field-label.is-small {
		font-size: 0.75rem;
		padding-top: 0.375em;
	}

	.field-label.is-normal {
		padding-top: 0.375em;
	}

	.field-label.is-medium {
		font-size: 1.25rem;
		padding-top: 0.375em;
	}

	.field-label.is-large {
		font-size: 1.5rem;
		padding-top: 0.375em;
	}
}

.field-body .field .field {
	margin-bottom: 0;
}

@media screen and (min-width: 769px),
print {
	.field-body {
		display: -webkit-box;
		display: flex;
		flex-basis: 0;
		-webkit-box-flex: 5;
		flex-grow: 5;
		flex-shrink: 1;
	}

	.field-body .field {
		margin-bottom: 0;
	}

	.field-body>.field {
		flex-shrink: 1;
	}

	.field-body>.field:not(.is-narrow) {
		-webkit-box-flex: 1;
		flex-grow: 1;
	}

	.field-body>.field:not(:last-child) {
		margin-right: 0.75rem;
	}
}