// website colors
$default-black: #231f20;
$default-light: #fff;

.section.is-primary .title {
    color: #fff;
}

.section.is-primary .subtitle {
    color: #fff;
}

.section.is-primary {
    background-color: $default-black;
    color: #fff;
}