.language-title:after {
  content: "";
  animation: changetext 15s infinite linear;
}
@keyframes changetext {
  1% {
    content: "Hey, before you check the website, you should choose a language.";
  }
  11% {
    content: "Έι, πριν μπεις στην σελίδα, πρέπει να διαλέξεις μια γλώσσα.";
  }
  22% {
    content: "مرحبًا ، قبل التحقق من موقع الويب ، يجب عليك اختيار لغة.";
  }
  33% {
    content: "Hé, voordat je de website bezoekt, moet je een taal kiezen.";
  }
  44% {
    content: "Hey, bevor Sie die Website überprüfen, sollten Sie eine Sprache auswählen.";
  }
  55% {
    content: "Ehi, prima di controllare il sito web, dovresti scegliere una lingua.";
  }
  66% {
    content: "ねえ、あなたがウェブサイトをチェックする前に、あなたは言語を選ぶべきです。";
  }
  77% {
    content: "Эй, прежде чем заходить на сайт, вам следует выбрать язык.";
  }
  88% {
    content: "Oye, antes de consultar el sitio web, debes elegir un idioma.";
  }
  99% {
    content: "Hej, innan du kontrollerar webbplatsen bör du välja ett språk.";
  }
}
