// Import only what you need from Bulma
@import "../../../node_modules/bulma/bulma.sass";
//custom
@import "menu";
@import "hands";
@import "projects";
@import "section";
@import "hero";
@import "field";
@import "buttons";
@import "form";
@import "preloader";
@import "languagemenu";
@import "nav";

@keyframes abstractsky{
    0%{
        transform:translateY(0)  translateX(100vw);
    }
    100%{
        transform:translateY(0) translateX(-100vw);
    }
}

@keyframes abstractground{
    0%{
        transform: translateY(0)  translateX(100vw);
    }
    100%{
        transform: translateY(0)  translateX(-100vw);
    }
}
@keyframes fadeinandmovealil{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.abstract-background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow:hidden;
    .shapes-ground{
        img{
            filter:blur(1px);
            position:absolute;
        }
    }
    .shapes-sky{
        img{ 
            position:absolute;

            
        }
    }
  }